* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(rgba(30, 12, 0, 0.7), rgba(170, 145, 87, 0.3)),
    url("../imgs/Leonardo_Phoenix_09_create_background_that_i_will_write_words_0.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* banner section */

.banner-section {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.banner .slider {
  position: absolute;
  width: 150px;
  height: 250px;
  top: 100px;
  left: calc(50% - (150px / 2));
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 1111;
}
.banner .content {
  text-align: center;
  transform: translateY(calc(50vh - 60px));
}
@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}
.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(400px);
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .content h1 {
  font-weight: 600;
  font-size: 3rem;
  color: rgb(30, 12, 0);
}
.banner .content span {
  -webkit-text-stroke: 1px rgb(30, 12, 0);
  color: transparent;
}
.banner .content p {
  color: rgb(30, 12, 0);
  font-size: 1em;
  font-weight: 500;
  padding: 20px;
}
/* input section */
.form-section .form-floating {
  display: flex;
  flex-wrap: wrap;
}
.form-section label{
  color: #1E0C00;
  font-weight: 600;
}
.form-section input{
  background-color: transparent;
  border: solid 3px #1E0C00;
  color:#1E0C00;
}
.addBtn{
  padding:10px 20px;
  border:3px solid #1E0C00;
  border-radius: 10px;
  background-color: transparent;
  color: #1E0C00;
  transition: 0.3s;
}
.addBtn:hover{
background-color: #1E0C00;
color: antiquewhite;
}

/* @media (max-width: 1024px) {
  .banner .slider {
    width: 150px;
    height: 200px;
    }
  .banner .slider .item {
    transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(40vw);
  }
} */

/* @media (max-width: 768px) {
  .banner .slider {
    width: 100px;
    height: 150px;
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
        )
        translateZ(40vw);
        }
} */
/* 
@media (max-width: 480px) {
  .form-section label{
    font-size: 14px;
  }
      } */
